#wrapwrap {

    /* Hide default carousel icons */
    .s_carousel:not(.s_carousel_default),
    .s_dynamic_snippet_products {

        .carousel-control-next-icon,
        .carousel-control-prev-icon,
        .carousel-control-next .fa,
        .carousel-control-prev .fa,
        .carousel-control-next .oi,
        .carousel-control-prev .oi {
            display: none;
        }

        .carousel-control-next::after,
        .carousel-control-prev::after {
            display: inline-block;
            width: 48px;
            height: 48px;
            border-radius: 99px;
            content: '';
        }
    }

    /* Carousel arrows */
    .carousel-control-next::after {
        position: absolute;
        left: 0;
        top: 0;

        background-color: o-color('o-color-1');
        background-image: url('/website_airproof/static/src/img/content/icons/arrow-right.svg');
        background-repeat: no-repeat;
        background-position: center;
    }

    .carousel-control-prev::after {
        position: absolute;
        right: 0;
        top: 0;

        background-color: o-color('o-color-1');
        background-image: url('/website_airproof/static/src/img/content/icons/arrow-left.svg');
        background-repeat: no-repeat;
        background-position: center;
    }

    /* Dynamic product snippet */
    .s_dynamic_snippet_products {
        .dynamic_snippet_template .carousel-item .row>div {
            padding-top: 0.6rem;
        }

        .carousel-control-next::after {
            left: 70px;
        }

        .carousel-control-prev::after {
            right: 70px;
        }
    }

    /* Airproof product carousel variant */
    .s_product_product_airproof {
        .o_carousel_product_card {
            transition: all .2s ease-in-out;

            &:hover {
                border: none;
                background-color: #F0FDE3;
                transform: translate(-10px, -10px);

                .o_carousel_product_card_img_top {
                    mix-blend-mode: multiply;
                }
            }

            .card-body {
                background-color: transparent !important;
            }
        }

        .carousel-control-prev::after {
            border-radius: 10px 0 0 10px !important;
        }

        .carousel-control-next::after {
            border-radius: 0 10px 10px 0 !important;
            left: -4rem !important;
        }

        .carousel-control-prev {
            left: auto !important;
            right: 0 !important;
        }

        .carousel-control-next,
        .carousel-control-prev {
            opacity: 1;

            &::after {
                width: 70px !important;
                top: -90px !important;
                background-color: white !important;
            }

            &:hover::after {
                background-color: o-color('o-color-1') !important;
            }
        }
    }
}