/* .estate-list th,
.estate-list td.o_data_cell {
  text-align: left !important;
} */
.estate-list th[data-name="name"],
.estate-list td.o_data_cell[data-name="name"] {
  max-width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: start;
}

.estate-list th[data-name="postcode"],
.estate-list td.o_data_cell[data-name="postcode"] {
  min-width: 90px;
  max-width: 110px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.estate-list th[data-name="bedrooms"],
.estate-list td.o_data_cell[data-name="bedrooms"] {
  min-width: 80px;
}

.estate-list th[data-name="living_area"],
.estate-list td.o_data_cell[data-name="living_area"] {
  min-width: 120px;
}

.estate-list th[data-name="expected_price"],
.estate-list td.o_data_cell[data-name="expected_price"] {
  min-width: 130px;
}

.estate-list th[data-name="selling_price"],
.estate-list td.o_data_cell[data-name="selling_price"] {
  min-width: 80px;
}

.estate-list th[data-name="date_availability"],
.estate-list td.o_data_cell[data-name="date_availability"] {
  min-width: 130px;
}


/* Offer list */

.estate-offer-list th[data-name="price"],
.estate-offer-list td.o_data_cell[data-name="price"] {
  min-width: 120px;
}

.estate-offer-list th[data-name="partner_id"],
.estate-offer-list td.o_data_cell[data-name="partner_id"] {
  max-width: 220px;
  white-space: nowrap;
}

.estate-offer-list th[data-name="validity"],
.estate-offer-list td.o_data_cell[data-name="validity"] {
  min-width: 220px;
}

.estate-offer-list th[data-name="date_deadline"],
.estate-offer-list td.o_data_cell[data-name="date_deadline"] {
  min-width: 180px;
}

.estate-offer-list th[data-name="status"],
.estate-offer-list td.o_data_cell[data-name="status"] {
  min-width: 120px;
}